/* body{margin: 0;padding: 0;background: white;height: 100vh;font-family:
sans-serif;background-size: cover;background-repeat: no-repeat;background-position: center;overflow: hidden} */
body {
    overflow: hidden;
    background-color: #ffffff;
}

main {
    min-height: 100vh;
}

#main {
    background: linear-gradient(to top, #1c95ff, #094A9C);
    height: auto;
    border-radius: 3rem;
    max-width: 70rem;
    min-height: 80vh;
}

section:nth-child(1) {
    background-color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
    /* box-shadow: 0px 3px 5px #d8d7d798; */
    border-radius: 2.9rem 6.5rem 6.5rem 2.9rem;
    /* box-shadow: 0px 3px 5px #d8d7d798; */
    /* Adjust the shadow properties as needed */
}

@media (min-width: 767px) and (min-width: 900px) {
    #main {
    /* min-height: auto; */
      /* max-height: 20rem; */
    }
  }


@media(max-width: 767px) {
    body {
        overflow: auto;
    }

    #main {
        min-height: 100vh;
        border-radius: 0px;
    }

    .loginBox{
        margin-bottom: 2rem;
    }

    section:nth-child(1) {
        min-height: 85vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-radius: 3.5rem 3.5rem 0rem 0rem;
        /* Adjust the shadow properties as needed */
    }

    section:nth-child(2) {
        min-height: 15vh;
    }
}
@media
screen and (max-width: 600px){body{background-size: cover fixed}}#particles-js{height: 100%}.loginBox{ border-radius: 4rem 4rem 0rem 0rem;width: 350px;min-height: 200px;background:
#fff;padding: 2rem;box-sizing: border-box;}.user{margin: 0 auto;display: block;margin-bottom:
20px}h3{margin: 0;padding: 0 0 20px;color: #262626;text-align: center}.loginBox input{width: 100%;margin-bottom:
20px}.loginBox input[type="text"],.loginBox input[type="email"],.loginBox input[type="number"], .loginBox input[type="password"]{
    border-radius: 0.8rem;
    border:2px solid #dde6eb;
    outline: none;
    height: 40px;
    color: #000000;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box; /* Add this line with a value */
}
/* .loginBox input[type="text"]:focus,.loginBox input[type="email"]:focus,.loginBox input[type="number"]:focus, .loginBox input[type="password"]:focus{#} */

.inputBox{position: relative}.inputBox span{position: absolute;top: 10px;color: #262626}.loginBox
input[type="submit"],input[type="button"]{border: none;outline: none;height: 40px;font-size: 16px;  background: linear-gradient(to bottom, #1c95ff, #094A9C);color:
#fff;border-radius: 20px;cursor: pointer}.loginBox a{color: #262626;font-size: 14px;font-weight: bold;text-decoration:
none;text-align: center;display: block}a:hover{color: #15C7FF}


#select_chat_id{
    width: 100%;
    border: none;
    border-bottom: 2px solid #262626;
    outline: none;
    height: 40px;
    color: #4d4747;
    background: transparent;
    font-size: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
